/* @media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .bar {
        background-color: #fff;
        height: 4px;
        width: 25px;
        margin: 3px 0;
        transition: 0.4s;
    }

    .menu-open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
} */
